.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background-color: var(--dark-green) !important;
  color: white;
}

.react-calendar__navigation__label {
  color: var(--dark-green);
  font-weight: bold;
}

.react-calendar__navigation button {
    color: var(--dark-green) !important;
    font-weight: bold;
  }
  
  .available {
    background: #f0fff4 !important;
    color: var(--dark-green) !important;
  }
  
  .fully-booked {
    background: #fff5f5 !important;
    color: red !important;
    font-weight: bold;
  }

  .react-calendar__tile:disabled {
    background-color: #f0f0f0 !important;
    color: #999 !important;
    cursor: not-allowed !important;
    opacity: 0.6;
  }
  